/* === header ===================================================================================================================================== */
	header
	{
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	header a{ text-decoration: none; }

	#navigation
	{
		width: 100%;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	#website-emblem
	{
		flex: 1;

		padding: 0px 25px 11px 50px; /* padding-bottom = padding-bottom (of: #website-menu > ul > li) - 4px (R of Reservia's emblem is under the alignment of the other letters ) */
	}

	#website-menu > ul
	{
		list-style-type: none;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-start;
		flex-wrap: wrap;

		cursor: pointer;
	}

	#website-menu > ul > li
	{
		padding: 48px 25px 13px 25px; /* padding-top = 50px - border-top
		                                 padding-bottom = 15px - border-bottom */

		border-top: 2px solid #00000000;
		border-bottom: 2px solid #00000000;
	}

	#website-menu > ul > li:hover{ border-top-color: #0065FC; }

	#website-menu > ul > li:hover a{ color: #0065FC; }

	#website-login{ padding: 50px 50px 15px 25px; /* padding = padding of: #website-menu > ul > li */ }

	#website-login > a
	{
		font-weight: bold;
		color: #0065FC;
	}

	#website-motto{ padding: 35px 50px 20px 50px; /* padding-top = 50px - padding-bottom of: #website-login */ }

	#website-motto > h1{ padding-bottom: 0.5rem; }
/* === end: header ================================================================================================================================ */

/* === media ====================================================================================================================================== */
	@media screen and (max-width: 869px)
	{
		#website-emblem{ padding-left: 20px; }

		#website-menu
		{
			width: 100%;

			order: 3;
		}

		#website-menu > ul > li
		{
			width: 50%;

			padding: 33px 20px 13px 20px; /* padding top = 50px - (padding-bottom of: #website-login) - border-top */

			border-bottom-color: #F2F2F2;

			text-align: center;
		}

		#website-menu > ul > li:hover
		{
			border-top-color: #00000000;
			border-bottom-color: #0065FC; 
		}

		#website-login
		{
			padding-right: 20px;

			order: 2;
		}

		#website-motto{ padding: 35px 20px 40px 20px; /* padding-top = 50px - padding-bottom of: #website-login */ }
	}
/* === end: media ================================================================================================================================= */