/* === index ===================================================================================================================================== */
	/* === search ================================================================================================================================ */
		/* === search_bar ======================================================================================================================== */
			input::placeholder
			{
				opacity : 1;

				font-weight: bold;
				font-size: 1rem;
				color: rgb(0, 0, 0);
			}

			#search
			{
				padding: 0px 50px;

				display: flex;
				flex-direction: column;
			}

			#search_bar
			{
				height: calc(var(--pictogram-height) + 56px);

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}

			#search_bar > img
			{
				height: calc(var(--pictogram-height) + 26px);
				width: calc(var(--pictogram-width) + 26px);

				padding: 16px;

				border-radius: var(--border-radius) 0px 0px var(--border-radius);

				background-color: var(--color-3);
			}

			#search_bar > input[type = "search"]
			{
				height: calc(var(--pictogram-height) + 26px);

				padding: 0em 1em;

				border-top: 1px solid var(--color-3);
				border-bottom: 1px solid var(--color-3);
				border-left: none;
				border-right: none;

				font-weight: bold;
				font-size: 1rem;
			}

			#search_bar > button
			{
				height: calc(var(--pictogram-height) + 26px);

				padding: 0em 1em;

				border-radius: 0px var(--border-radius) var(--border-radius) 0px;

				background-color: var(--color-1);

				border: none;
			}

			#search_bar > button:hover{ cursor: pointer; }

			#search_bar > button > img
			{
				height: calc(var(--pictogram-height) + 26px);
				width: calc(var(--pictogram-width) + 26px);

				padding: 16px;

				display: none;
			}

			#search_bar > button > span
			{
				font-weight: bold;
				font-size: 1rem;
				color: white;
			}
		/* === end: search_bar =================================================================================================================== */

		/* === filter ============================================================================================================================ */
			#filter
			{
				font-weight: bold;
				font-size: 1rem;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}

			#filter > p
			{
				padding-top: calc(((var(--pictogram-height) + 26px) - 1em) / 2);
				margin-right: 25px;
				margin-bottom: 10px;
			}

			#filter-list
			{
				list-style-type: none;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				flex-wrap: wrap;
			}

			#filter-list > li
			{
				margin: 0px 25px 10px 0px;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}

			#filter-list > li > input[type = "checkbox"]:checked + label
			{
				background: var(--color-2);

				flex-direction: row-reverse;
			}

			#filter-list > li > input[type = "checkbox"]:checked + label > span:nth-child(1)
			{
				background-color: rgb(217, 217, 217);

				border-color: rgb(217, 217, 217);
			}

			#filter-list > li > label:hover{ cursor: pointer; }

			#filter-list > li > label:hover > span:nth-child(1){ border-color: var(--color-1) !important; }

			#filter-list > li > label:hover > span:nth-child(2){ color: var(--color-1) !important; }

			#filter-list > li > input{ display: none; }

			#filter-list > li > label
			{
				height: calc(var(--pictogram-height) + 26px);

				border: 2px solid rgb(217, 217, 217);

				border-radius: calc((var(--pictogram-height) + 26px) / 2);

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}

			#filter-list > li > label > span:nth-of-type(1)
			{
				padding: 11px;
				margin-left: -3px;
				margin-right: -3px;

				border: 2px solid var(--color-2);

				border-radius: calc((var(--pictogram-height) + 26px) / 2);

				background-color: var(--color-2);

				display: flex;
			}

			#filter-list > li > label > span > img
			{
				height: var(--pictogram-height);
				width: var(--pictogram-width);
			}

			#filter-list > li > label > span:nth-of-type(2){ padding: 0px 1em; }
		/* === end: filter ======================================================================================================================= */

		/* === info ============================================================================================================================== */
			#info
			{
				padding-top: 30px;
				padding-bottom: 40px;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}

			#info > span
			{
				height: calc(var(--pictogram-small-height) + 14px);
				width: calc(var(--pictogram-small-width) + 14px);

				padding: 6px;
				margin-top: calc(0px - ((var(--pictogram-small-height) + 14px - 1rem) / 2)); /* pour que le i reste aligné sur la ligne superieur du texte */
				margin-right: 10px;

				border: 1px solid rgb(217, 217, 217);

				border-radius: calc((var(--pictogram-small-height) + 14px) / 2);

				display: flex;
			}

			#info > span > img
			{
				height: var(--pictogram-small-height);
				width: var(--pictogram-small-width);
			}
		/* ===  end: info ======================================================================================================================== */
	/* === end: search =========================================================================================================================== */
/* === end: index ================================================================================================================================ */

/* === media ===================================================================================================================================== */
	@media all and (max-width: 768px)
	{
		/* === search ============================================================================================================================ */
			/* === search_bar ==================================================================================================================== */
				#search
				{
					padding: 0px 20px;
				}

				#search_bar > input[type = "search"]
				{
					flex: 1;

					padding-right: calc(1rem + var(--border-radius));
				}

				#search_bar > button
				{
					padding: 0px;
					margin-left: calc(0px - var(--border-radius));

					border-radius: var(--border-radius);
				}

				#search_bar > button > img{ display: initial; }

				#search_bar > button > span{ display: none; }
			/* === end: search_bar =============================================================================================================== */

			/* === filter ======================================================================================================================== */
				#filter
				{
					flex-direction: column;
					align-items: flex-start;
				}

				#filter > p{ padding-top: 0px; }

				#filter-list > li{ margin: 0px 10px 10px 0px; }
			/* === end: filter =================================================================================================================== */
		/* === end: search ======================================================================================================================= */
	}
/* === end: media ================================================================================================================================ */