/* === index ====================================================================================================================================== */
	/* === search ================================================================================================================================= */
		#search
		{
			padding: 0px 50px 40px 50px;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			/*align-items: flex-start;*/
		}

		/* === search_bar ========================================================================================================================= */
			#search_bar
			{
				height: 80px; /* (height of pictogram: 24px) + (padding-top of pictogram: 13px) + (padding-bottom of pictogram: 13px) + (padding-bottom: 30px) */

				padding-bottom: 30px;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
			}

			#search_bar > img
			{
				width: 50px; /* (width of pictogram: 24px) + (padding-right of pictogram: 13px) + (padding-left of pictogram: 13px) */
				height: 50px; /* (height of pictogram: 24px) + (padding-top of pictogram: 13px) + (padding-bottom of pictogram: 13px) */

				padding: 13px;

				border-radius: 16px 0px 0px 16px;

				background-color: #F2F2F2;
			}

			#search_bar > input[type = "search"]
			{
				width: 100%;
				max-width: 14em;
				height: 50px; /* (height of pictogram: 24px) + (padding-top of pictogram: 13px) + (padding-bottom of pictogram: 13px) */

				padding: 0px 1em;

				border-top: 1px solid #F2F2F2;
				border-bottom: 1px solid #F2F2F2;
				border-left: none;
				border-right: none;

				font-weight: bold;
				font-size: 1rem;
			}

			#search_bar > input[type = "search"]::placeholder
			{
				opacity : 1;

				font-weight: bold;
				font-size: 1rem;
				color: gray;
			}

			#search_bar > button
			{
				height: 50px; /* (height of pictogram: 24px) + (padding-top of pictogram: 13px) + (padding-bottom of pictogram: 13px) */

				border-radius: 0px 16px 16px 0px;

				border-top: 1px solid #F2F2F2;
				border-bottom: 1px solid #F2F2F2;
				border-left: none;
				border-right: none;

				background-color: white;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}

			#search_bar > button > img
			{
				width: 50px; /* (width of pictogram: 24px) + (padding-right of pictogram: 13px) + (padding-left of pictogram: 13px) */
				height: 50px; /* (height of pictogram: 24px) + (padding-top of pictogram: 13px) + (padding-bottom of pictogram: 13px) */

				padding: 13px;

				border-radius: 16px;

				background-color: #0065FC;

				display: none;
			}

			#search_bar > button > img:hover{ cursor: pointer; }

			#search_bar > button > span
			{
				height: 50px; /* (height of pictogram: 24px) + (padding-top of pictogram: 13px) + (padding-bottom of pictogram: 13px) */

				padding: 0px 1em;

				border-radius: 0px 16px 16px 0px;

				background-color: #0065FC;

				font-weight: bold;
				font-size: 1rem;
				color: white;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}

			#search_bar > button > span:hover{ cursor: pointer; }
		/* === end: search_bar ==================================================================================================================== */

		/* === filter ============================================================================================================================= */
			#filter
			{
				font-weight: bold;
				font-size: 1rem;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
			}

			#filter > p
			{
				padding-top: calc((50px - 1em) / 2); /* align marker to top row  */
				margin-right: 25px;
				margin-bottom: 10px;
			}

			#filter-list
			{
				list-style-type: none;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
				flex-wrap: wrap;
			}

			#filter-list > li
			{
				margin: 0px 25px 10px 0px;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}

			#filter-list > li > input{ display: none; }

			#filter-list > li > label
			{
				height: 50px; /* (height of pictogram: 24px) + (padding-top of pictogram: 13px) + (padding-bottom of pictogram: 13px) */

				border-radius: 25px;

				border: 2px solid rgb(217, 217, 217);

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}

			#filter-list > li > input[type = "checkbox"]:checked + label
			{
				background-color: #DEEBFF;

				flex-direction: row-reverse;
			}

			#filter-list > li > label:hover{ cursor: pointer; }

			.filter-pictogram
			{
				width: 50px; /* (width of pictogram: 24px) + (padding-right of pictogram: 13px) + (padding-left of pictogram: 13px) */
				height: 50px; /* (height of pictogram: 24px) + (padding-top of pictogram: 13px) + (padding-bottom of pictogram: 13px) */

				padding: 13px;
				margin-right: -2px; /* - border of: #filter-list > li > label; */
				margin-left: -2px; /* - border of: #filter-list > li > label; */

				border-radius: 25px;

				border: 2px solid #DEEBFF;

				background-color: #DEEBFF;

				background-size : 24px;
				background-repeat: no-repeat;
				background-position: center;
			}

			#filter-list > li > input[type = "checkbox"]:checked + label > span:first-child{ background-color: white; }

			#filter-list > li > label:hover > .filter-pictogram{ border-color: #0065FC; }

			#filter-pictogram-economic{ background-image: url("../../data/picture/pictogram/money-bill-wave-solid.svg"); }

			#filter-pictogram-family
			{
				background-image: url("../../data/picture/pictogram/child-solid.svg");
				background-size : 20px;
			}

			#filter-pictogram-romantic{ background-image: url("../../data/picture/pictogram/heart-solid.svg"); }

			#filter-pictogram-authorized_animal{ background-image: url("../../data/picture/pictogram/dog-solid.svg"); }

			#filter-list > li > label > span:last-child{ padding: 0px 1em; }

			#filter-list > li > label:hover > span:last-child{ color: #0065FC; }
		/* === end: filter ======================================================================================================================== */

		/* === info =============================================================================================================================== */
			#info
			{
				padding-top: 30px; /* 40px - margin-bottom of: #filter-list > li */

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}

			#info > span
			{
				height: 24px;
				width: 24px;

				padding: 6px;
				margin-top: calc(0px - ((24px - 1em) / 2)); /* align marker to top row  */
				margin-right: 10px;

				border: 1px solid rgb(217, 217, 217);

				border-radius: 12px;

				display: flex;
			}

			#info > span > img
			{
				height: 12px;
				width: 12px;
			}
		/* ===  end: info ========================================================================================================================= */
	/* === end: search ============================================================================================================================ */

	/* === accommodation ========================================================================================================================== */
		#accommodation
		{
			width: 100%;

			padding: 0px 50px 60px 50px;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.price{ font-weight: bold; }

		.notation
		{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-end;

			flex: 1;
		}

		.notation > img
		{
			width: 16px;
			height: 16px;
		}

		/* === searched accommodation ============================================================================================================= */
			#accommodation-search
			{
				width: min(68%, 1670px); /* (max-width of: #accommodation-search-card_area: 1590) + padding-right + padding-left */

				padding: 50px 40px;
				margin-right: 40px;

				border-radius: 16px;

				background-color: #F2F2F2;

				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			#accommodation-search > p{ font-weight: bold; }

			#accommodation-search > p:hover{ cursor: pointer; }

			#accommodation-search-card_area
			{
				max-width: 1590px; /* max-width =   3 * (max-width of: .accommodation-search-card: 510px)
				                                  + 2 * (row-gap: 30px) */

				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;
				row-gap: 30px;

				margin: 25px 0px 40px 0px;
			}

			.accommodation-search-card
			{
				width: min(calc((100% - 60px) / 3), 510px);

				padding: 5px;

				background-color: white;

				border-radius: 16px;

				box-shadow: 10px 10px 10px rgb(217, 217, 217);

				text-decoration: none;

				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			.accommodation-search-card:hover
			{
				box-shadow: 10px 10px 10px rgb(128, 128, 128);

				transform: scale(1.05);

				transition: all 0.5s;
			}

			.accommodation-search-card-illustration
			{
				width: min(100%, 500px);

				padding-bottom: min(47%, 235px);

				border-radius: 16px 16px 0px 0px;

				background-size: cover;
			    background-position: center center;
			}

			#accommodation-search-card-1{ background-image: url("../../data/picture/accommodation/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg"); }

			#accommodation-search-card-2{ background-image: url("../../data/picture/accommodation/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg"); }

			#accommodation-search-card-3{ background-image: url("../../data/picture/accommodation/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg"); }

			#accommodation-search-card-4{ background-image: url("../../data/picture/accommodation/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg"); }

			#accommodation-search-card-5{ background-image: url("../../data/picture/accommodation/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg"); }

			#accommodation-search-card-6{ background-image: url("../../data/picture/accommodation/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg"); }

			.accommodation-search-card p:nth-of-type(1)
			{
				padding: 0.5rem 0rem;

				font-weight: bold;
			}

			.accommodation-search-card p:nth-of-type(2){ padding-bottom: 0.5rem }
		/* === end: searched accommodation ======================================================================================================== */

		/* === popular accommodation ============================================================================================================== */
			#accommodation-popular
			{
				width: min(32%, 620px); /* 3 * (max-width of: .accommodation-popular-card-illustration: 180) + padding-right + padding-left */

				padding: 50px 40px;

				border-radius: 16px;

				background-color: #F2F2F2;

				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			#accommodation-popular div:first-child
			{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			#accommodation-popular div:first-child > img
			{
				width: 24px;
				height: 24px;
			}

			#accommodation-popular-card_area
			{
				margin-top: 25px;

				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			#accommodation-popular-card_area > a:nth-child(2){ margin: 25px 0px; }

			.accommodation-popular-card
			{
				width: 100%;

				padding: 5px;

				background-color: white;

				border-radius: 16px;

				box-shadow: 10px 10px 10px rgb(217, 217, 217);

				text-decoration: none;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}

			.accommodation-popular-card:hover
			{
				box-shadow: 10px 10px 10px rgb(128, 128, 128);

				transform: scale(1.05);

				transition: all 0.5s;
			}

			.accommodation-popular-card-illustration
			{
				width: min(40%, 180px);
				padding-bottom: min(40%, 180px);

				border-radius: 16px 0px 0px 16px;

				background-size: cover;
			    background-position: center center;
			}

			.accommodation-popular-card > div:last-child
			{
				width: 60%;

				padding: 10px 15px;

				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			.accommodation-popular-card > div:last-child > p:nth-of-type(1)
			{
				padding-bottom: 0.5em;

				font-weight: bold;
			}

			.accommodation-popular-card > div:last-child > p:nth-of-type(2){ padding-bottom: 0.5em; }

			#accommodation-popular-card-1{ background-image: url("../../data/picture/accommodation/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg"); }

			#accommodation-popular-card-2{ background-image: url("../../data/picture/accommodation/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg"); }

			#accommodation-popular-card-3{ background-image: url("../../data/picture/accommodation/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg"); }
		/* === end: popular accommodation ========================================================================================================= */
	/* === end: accommodation ===================================================================================================================== */

	/* === activity =============================================================================================================================== */
		#activity
		{
			width: 100%;

			padding: 0px 50px 60px 50px;

			display: flex;
			flex-direction: column;
		}

		#activity > h2{ margin-bottom: 30px; }

		#activity-card_area
		{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		#activity-card_area a{ text-decoration: none; }

		#activity-card_area > div
		{
			width: calc(50% - 20px);

			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		#activity-card_area > div > div
		{
			width: calc(50% - 20px);

			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.activity-card
		{
			width: 100%;

			border-radius: 16px 16px calc(16px + 2px) calc(16px + 2px);

			box-shadow: 10px 10px 10px rgb(217, 217, 217);

			background-size: cover;
			background-position: center;
		}

		.activity-card:hover
		{
			box-shadow: 10px 10px 10px rgb(128, 128, 128);

			transform: scale(1.05);

			transition: all 0.5s;
		}

		#activity-card-1
		{
			padding-top: calc(148.33% - 3em);

			background-image: url("../../data/picture/activity/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
		}

		#activity-card-2
		{
			padding-top: calc(85% - 3em - 20px);

			background-image: url("../../data/picture/activity/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
		}

		#activity-card-3
		{
			padding-top: calc(63.33% - 3em - 20px);

			background-image: url("../../data/picture/activity/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
		}

		#activity-card-4
		{
			padding-top: calc(148.33% - 3em);

			background-image: url("../../data/picture/activity/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
		}

		#activity-card-5
		{
			padding-top: calc(((148.33%) * 0.5) - 3em - 20px);

			background-image: url("../../data/picture/activity/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
		}

		#activity-card-6
		{
			padding-top: calc(((148.33%) * 0.5) - 3em - 20px);

			background-image: url("../../data/picture/activity/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
		}

		.activity-card > p
		{
			padding: 1em;

			background-color: white;

			border-radius: 0px 0px 16px 16px;

			font-weight: bold;
		}
	/* === end: activity ========================================================================================================================== */
/* === end: index ================================================================================================================================= */

/* === media ====================================================================================================================================== */
	@media screen and (max-width: 1273px) /* point break for min-width accommodation card = 200px */
	{
		/* === accommodation ====================================================================================================================== */
			#accommodation
			{
				flex-direction: column-reverse;
				justify-content: flex-start;
			}

			/* === searched accommodation ========================================================================================================= */
				#accommodation-search
				{
					width: 100%;

					margin: 30px 0px 0px 0px;
				}
			/* === end: searched accommodation ==================================================================================================== */
		/* === end: accommodation ================================================================================================================= */

		/* === activity =========================================================================================================================== */
			#activity-card_area > div
			{
				width: calc(50% - 20px);

				flex-direction: column;
			}

			#activity-card_area > div > div{ width: 100%; }

			#activity-card-1, #activity-card-2, #activity-card-3, #activity-card-4, #activity-card-5, #activity-card-6{ padding-top: min(47%, 235px); }

			#activity-card-1, #activity-card-2, #activity-card-4, #activity-card-5 { margin-bottom: 40px; }
		/* === end: activity ====================================================================================================================== */
	}

	@media screen and (min-width: 870px) and (max-width: 1273px) /* only for most popular */
	{
		/* === accommodation ====================================================================================================================== */
			/* === popular accommodation ========================================================================================================== */
				#accommodation-popular{ width: 100%; }

				#accommodation-popular-card_area{ flex-direction: row; }

				.accommodation-popular-card
				{
					width: calc((100% - 60px) / 3);

					border-radius: 16px;

					flex-direction: column;
				}

				#accommodation-popular-card_area > a:nth-child(2){ margin: 0px; }

				.accommodation-popular-card-illustration
				{
					width: 100%;
					padding-bottom: 47%;

					border-radius: 16px 16px 0px 0px;
				}

				.accommodation-popular-card > div:last-child
				{
					width: 100%;

					padding: 0px;
				}

				.accommodation-popular-card > div:last-child > p:nth-of-type(1){ padding-top: 0.5em; }
			/* === end: popular accommodation ===================================================================================================== */
		/* === end: accommodation ================================================================================================================= */
	}

	@media screen and (max-width: 869px) /* point break for min-width accommodation card = 200px */
	{
		/* === search ============================================================================================================================= */
			#search{ padding: 0px 20px 40px 20px; }

			/* === search_bar ===================================================================================================================== */
				#search_bar > input[type = "search"]{ max-width: 100% }

				#search_bar > button > img{ display: initial; }

				#search_bar > button > span{ display: none; }
			/* === end: search_bar ================================================================================================================ */

			/* === filter ========================================================================================================================= */
				#filter
				{
					flex-direction: column;
					align-items: flex-start;
				}

				#filter > p{ padding-top: 0px; }

				#filter-list > li{ margin: 0px 10px 10px 0px; }
			/* === end: filter ==================================================================================================================== */
		/* === end: search ======================================================================================================================== */

		/* === accommodation ====================================================================================================================== */
			#accommodation
			{
				padding: 0px 0px 60px 0px;

				flex-direction: column-reverse;
				justify-content: flex-start;
			}

			/* === searched accommodation ========================================================================================================= */
				#accommodation-search
				{
					width: 100%;

					padding: 50px 20px 0px 20px;
					margin-right: 0px;

					background-color: #00000000;
				}

				#accommodation-search-card_area{ row-gap: 20px; }

				#accommodation-search-card-1{ background-image: url("../../data/picture/accommodation/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg"); }

				#accommodation-search-card-2{ background-image: url("../../data/picture/accommodation/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg"); }

				#accommodation-search-card-3{ background-image: url("../../data/picture/accommodation/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg"); }

				#accommodation-search-card-4{ background-image: url("../../data/picture/accommodation/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg"); }

				#accommodation-search-card-5{ background-image: url("../../data/picture/accommodation/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg"); }

				#accommodation-search-card-6{ background-image: url("../../data/picture/accommodation/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg"); }

				.accommodation-search-card{ width: calc(50% - 10px); }

				.accommodation-search-card-illustration
				{
					width: 100%;
					padding-bottom: min(47%, 235px);
				}
			/* === end: searched accommodation ==================================================================================================== */

			/* === popular accommodation ========================================================================================================== */
				#accommodation-popular
				{
					width: 100%;

					padding-right: 20px;
					padding-left: 20px;

					border-radius: 0px;
				}

				#accommodation-popular-card-1{ background-image: url("../../data/picture/accommodation/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg"); }

				#accommodation-popular-card-2{ background-image: url("../../data/picture/accommodation/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg"); }

				#accommodation-popular-card-3{ background-image: url("../../data/picture/accommodation/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg"); }
			/* === end: popular accommodation ===================================================================================================== */
		/* === end: accommodation ================================================================================================================= */

		/* === activity =========================================================================================================================== */
			#activity{ padding: 0px 20px 50px 20px; }

			#activity-card_area > div{ width: calc(50% - 10px); }

			#activity-card-1, #activity-card-2, #activity-card-4, #activity-card-5 { margin-bottom: 20px; }

			#activity-card-1{ background-image: url("../../data/picture/activity/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg"); }

			#activity-card-2{ background-image: url("../../data/picture/activity/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg"); }

			#activity-card-3{ background-image: url("../../data/picture/activity/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg"); }

			#activity-card-4{ background-image: url("../../data/picture/activity/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg"); }

			#activity-card-5{ background-image: url("../../data/picture/activity/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg"); }

			#activity-card-6{ background-image: url("../../data/picture/activity/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg"); }
		/* === end: activity ====================================================================================================================== */
	}

	@media screen and (max-width: 550px) /* point break for max-width accommodation card = 510px */
	{
		/* === accommodation ====================================================================================================================== */
			/* === searched accommodation ========================================================================================================= */
				#accommodation-search-card_area{ row-gap: 20px; }

				.accommodation-search-card{ width: 100%; }

				.accommodation-search-card-illustration
				{
					width: 100%;
					padding-bottom: min(35%, 175px);
				}
			/* === end: searched accommodation ==================================================================================================== */
		/* === end: accommodation ================================================================================================================= */

		/* === activity =========================================================================================================================== */
			#activity-card_area > div
			{
				width: 100%;

				flex-direction: column;
			}

			#activity-card_area{ flex-direction: column; }

			#activity-card_area > div > div{ width: 100%; }

			#activity-card-1, #activity-card-2, #activity-card-3, #activity-card-4, #activity-card-5 { margin-bottom: 20px; }
		/* === end: activity ====================================================================================================================== */
	}
/* === end: media ================================================================================================================================= */