/* === index ===================================================================================================================================== */
	/* === search ================================================================================================================================ */
		/* === search_bar ======================================================================================================================== */
			input::placeholder
			{
				opacity : 1;

				font-weight: bold;
				font-size: 1rem;
				color: rgb(0, 0, 0);
			}

			#search
			{
				padding: 0px 50px;

				display: flex;
				flex-direction: column;
			}

			#search_bar
			{
				height: calc(var(--pictogram-height) + 56px);

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}

			#search_bar > img
			{
				height: calc(var(--pictogram-height) + 26px);
				width: calc(var(--pictogram-width) + 26px);

				padding: 16px;

				border-radius: var(--border-radius) 0px 0px var(--border-radius);

				background-color: var(--color-3);
			}

			#search_bar > input[type = "search"]
			{
				height: calc(var(--pictogram-height) + 26px);

				padding: 0em 1em;

				border-top: 1px solid var(--color-3);
				border-bottom: 1px solid var(--color-3);
				border-left: none;
				border-right: none;

				font-weight: bold;
				font-size: 1rem;
			}

			#search_bar > button
			{
				height: calc(var(--pictogram-height) + 26px);

				padding: 0em 1em;

				border-radius: 0px var(--border-radius) var(--border-radius) 0px;

				background-color: var(--color-1);

				border: none;
			}

			#search_bar > button:hover{ cursor: pointer; }

			#search_bar > button > img
			{
				height: calc(var(--pictogram-height) + 26px);
				width: calc(var(--pictogram-width) + 26px);

				padding: 16px;

				display: none;
			}

			#search_bar > button > span
			{
				font-weight: bold;
				font-size: 1rem;
				color: white;
			}
		/* === end: search_bar =================================================================================================================== */

		/* === filter ============================================================================================================================ */
			#filter
			{
				font-weight: bold;
				font-size: 1rem;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}

			#filter > p
			{
				padding-top: calc(((var(--pictogram-height) + 26px) - 1em) / 2);
				margin-right: 25px;
				margin-bottom: 10px;
			}

			#filter-list
			{
				list-style-type: none;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				flex-wrap: wrap;
			}

			#filter-list > li
			{
				margin: 0px 25px 10px 0px;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}

			#filter-list > li > input[type = "checkbox"]:checked + label
			{
				background: var(--color-2);

				flex-direction: row-reverse;
			}

			#filter-list > li > input[type = "checkbox"]:checked + label > span:nth-child(1)
			{
				background-color: rgb(217, 217, 217);

				border-color: rgb(217, 217, 217);
			}

			#filter-list > li > label:hover{ cursor: pointer; }

			#filter-list > li > label:hover > span:nth-child(1){ border-color: var(--color-1) !important; }

			#filter-list > li > label:hover > span:nth-child(2){ color: var(--color-1) !important; }

			#filter-list > li > input{ display: none; }

			#filter-list > li > label
			{
				height: calc(var(--pictogram-height) + 26px);

				border: 2px solid rgb(217, 217, 217);

				border-radius: calc((var(--pictogram-height) + 26px) / 2);

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}

			#filter-list > li > label > span:nth-of-type(1)
			{
				padding: 11px;
				margin-left: -3px;
				margin-right: -3px;

				border: 2px solid var(--color-2);

				border-radius: calc((var(--pictogram-height) + 26px) / 2);

				background-color: var(--color-2);

				display: flex;
			}

			#filter-list > li > label > span > img
			{
				height: var(--pictogram-height);
				width: var(--pictogram-width);
			}

			#filter-list > li > label > span:nth-of-type(2){ padding: 0px 1em; }
		/* === end: filter ======================================================================================================================= */

		/* === info ============================================================================================================================== */
			#info
			{
				padding-top: 30px;
				padding-bottom: 40px;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}

			#info > span
			{
				height: calc(var(--pictogram-small-height) + 14px);
				width: calc(var(--pictogram-small-width) + 14px);

				padding: 6px;
				margin-top: calc(0px - ((var(--pictogram-small-height) + 14px - 1rem) / 2)); /* pour que le i reste aligné sur la ligne superieur du texte */
				margin-right: 10px;

				border: 1px solid rgb(217, 217, 217);

				border-radius: calc((var(--pictogram-small-height) + 14px) / 2);

				display: flex;
			}

			#info > span > img
			{
				height: var(--pictogram-small-height);
				width: var(--pictogram-small-width);
			}
		/* ===  end: info ======================================================================================================================== */
	/* === end: search =========================================================================================================================== */

	/* === accommodation ========================================================================================================================= */
		#accommodation
		{
			width: 100%;

			padding: 0px 50px 60px 50px;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.price{ font-weight: bold; }

		.notation
		{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-end;

			flex: 1;
		}

		.notation > img
		{
			width: var(--pictogram-small-width);
			height: var(--pictogram-small-height);
		}

		/* === searched accommodation ============================================================================================================ */
			#accommodation-search
			{
				width: 68%;

				padding: 50px 40px;
				margin-right: 40px;

				border-radius: var(--border-radius);

				background-color: var(--color-3);

				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			#accommodation-search > p{ font-weight: bold; }

			#accommodation-search > p:hover{ cursor: pointer; }

			#accommodation-search-card_area
			{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;
				row-gap: 30px;

				margin: 25px 0px 40px 0px;
			}

			.accommodation-search-card
			{
				width: calc((100% - 60px) / 3);

				padding: 5px;

				background-color: white;

				border-radius: var(--border-radius);

				box-shadow: 10px 10px 10px rgb(217, 217, 217);

				text-decoration: none;;

				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			.accommodation-search-card-illustration
			{
				width: 100%;
				padding-bottom: 47%;

				border-radius: var(--border-radius) var(--border-radius) 0px 0px;
			}

			#accommodation-search-card-1
			{
				background-image: url("../../data/picture/accommodation/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
			    background-size: cover;
			    background-position: center center;
			}

			#accommodation-search-card-2
			{
				background-image: url("../../data/picture/accommodation/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
			    background-size: cover;
			    background-position: center center;
			}

			#accommodation-search-card-3
			{
				background-image: url("../../data/picture/accommodation/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
			    background-size: cover;
			    background-position: center center;
			}

			#accommodation-search-card-4
			{
				background-image: url("../../data/picture/accommodation/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
			    background-size: cover;
			    background-position: center center;
			}

			#accommodation-search-card-5
			{
				background-image: url("../../data/picture/accommodation/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
			    background-size: cover;
			    background-position: center center;
			}

			#accommodation-search-card-6
			{
				background-image: url("../../data/picture/accommodation/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
			    background-size: cover;
			    background-position: center center;
			}

			.accommodation-search-card p:nth-of-type(1)
			{
				padding: 0.5rem 0rem;

				font-weight: bold;
			}

			.accommodation-search-card p:nth-of-type(2){ padding-bottom: 0.5rem }
		/* === end: searched accommodation ======================================================================================================= */

		/* === popular accommodation ============================================================================================================= */
			#accommodation-popular
			{
				width: 32%;

				padding: 50px 40px;

				border-radius: var(--border-radius);

				background-color: var(--color-3);

				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			#accommodation-popular div:first-child
			{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			#accommodation-popular div:first-child > img
			{
				width: var(--pictogram-width);
				height: var(--pictogram-height);
			}

			#accommodation-popular-card_area
			{
				margin-top: 25px;

				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			#accommodation-popular-card_area > a:nth-child(2){ margin: 25px 0px; }

			.accommodation-popular-card
			{
				width: 100%;

				padding: 5px;

				background-color: white;

				border-radius: var(--border-radius);

				box-shadow: 10px 10px 10px rgb(217, 217, 217);

				text-decoration: none;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}

			.accommodation-popular-card-illustration
			{
				width: 40%;
				padding-bottom: 40%;

				border-radius: var(--border-radius) 0px 0px var(--border-radius);
			}

			.accommodation-popular-card > div:last-child
			{
				width: 60%;

				padding: 10px 15px;

				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			.accommodation-popular-card > div:last-child > p:nth-of-type(1)
			{
				padding-bottom: 0.5em;

				font-weight: bold;
			}

			.accommodation-popular-card > div:last-child > p:nth-of-type(2){ padding-bottom: 0.5em; }

			#accommodation-popular-card-1
			{
				background-image: url("../../data/picture/accommodation/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
			    background-size: cover;
			    background-position: center center;
			}

			#accommodation-popular-card-2
			{
				background-image: url("../../data/picture/accommodation/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
			    background-size: cover;
			    background-position: center center;
			}

			#accommodation-popular-card-3
			{
				background-image: url("../../data/picture/accommodation/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
			    background-size: cover;
			    background-position: center center;
			}
		/* === end: popular accommodation ======================================================================================================== */
	/* === end: accommodation ==================================================================================================================== */

	/* === activity ============================================================================================================================== */
		#activity
		{
			width: 100%;

			padding: 0px 50px 60px 50px;

			display: flex;
			flex-direction: column;
		}

		#activity > h2{ margin-bottom: 30px; }

		#activity-card_area
		{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		#activity-card_area a{ text-decoration: none; }

		#activity-card_area > div
		{
			width: calc(50% - 20px);

			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		#activity-card_area > div > div
		{
			width: calc(50% - 20px);

			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.activity-card
		{
			width: 100%;

			border-radius: var(--border-radius) var(--border-radius) calc(var(--border-radius) + 2px) calc(var(--border-radius) + 2px);

			box-shadow: 10px 10px 10px rgb(217, 217, 217);
		}

		#activity-card-1
		{
			padding-top: calc(148.33% - 3em);

			background-image: url("../../data/picture/activity/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
			background-size: cover;
			background-position: center;
		}

		#activity-card-2
		{
			padding-top: calc(85% - 3em - 20px);

			background-image: url("../../data/picture/activity/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
			background-size: cover;
			background-position: center;
		}

		#activity-card-3
		{
			padding-top: calc(63.33% - 3em - 20px);

			background-image: url("../../data/picture/activity/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
			background-size: cover;
			background-position: center;
		}

		#activity-card-4
		{
			padding-top: calc(148.33% - 3em);

			background-image: url("../../data/picture/activity/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
			background-size: cover;
			background-position: center;
		}

		#activity-card-5
		{
			padding-top: calc(((148.33%) * 0.5) - 3em - 20px);

			background-image: url("../../data/picture/activity/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
			background-size: cover;
			background-position: center;
		}

		#activity-card-6
		{
			padding-top: calc(((148.33%) * 0.5) - 3em - 20px);

			background-image: url("../../data/picture/activity/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
			background-size: cover;
			background-position: center;
		}

		.activity-card > p
		{
			padding: 1em;

			background-color: white;

			border-radius: 0px 0px var(--border-radius) var(--border-radius);

			font-weight: bold;
		}
	/* === end: activity ========================================================================================================================= */
/* === end: index ================================================================================================================================ */

/* === media ===================================================================================================================================== */
	@media all and (min-width: 870px) and (max-width: 1274px) /* point break for min-width accommodation card = 200px */
	{
		/* === accommodation ===================================================================================================================== */
			#accommodation
			{
				flex-direction: column-reverse;
				justify-content: flex-start;
			}

			/* === searched accommodation ======================================================================================================== */
				#accommodation-search
				{
					width: 100%;

					margin: 30px 0px 0px 0px;
				}
			/* === end: searched accommodation =================================================================================================== */

			/* === popular accommodation ========================================================================================================= */
				#accommodation-popular{ width: 100%; }

				#accommodation-popular-card_area{ flex-direction: row; }

				.accommodation-popular-card
				{
					width: calc((100% - 60px) / 3);

					border-radius: var(--border-radius);

					flex-direction: column;
				}

				#accommodation-popular-card_area > a:nth-child(2){ margin: 0px; }

				.accommodation-popular-card-illustration
				{
					width: 100%;
					padding-bottom: 47%;

					border-radius: var(--border-radius) var(--border-radius) 0px 0px;
				}

				.accommodation-popular-card > div:last-child
				{
					width: 100%;

					padding: 0px;
				}

				.accommodation-popular-card > div:last-child > p:nth-of-type(1){ padding-top: 0.5em; }
			/* === end: popular accommodation ==================================================================================================== */
		/* === end: accommodation ================================================================================================================ */

		/* === activity ========================================================================================================================== */
			#activity-card_area > div
			{
				width: calc(50% - 20px);

				flex-direction: column;
			}

			#activity-card_area > div > div{ width: 100%; }

			.activity-card{ padding-top: 40% !important; }

			#activity-card-1, #activity-card-2, #activity-card-4, #activity-card-5 { margin-bottom: 40px; }
		/* === end: activity ===================================================================================================================== */
	}

	@media all and (max-width: 869px) /* point break for min-width accommodation card = 200px */
	{
		/* === search ============================================================================================================================ */
			/* === search_bar ==================================================================================================================== */
				#search
				{
					padding: 0px 20px;
				}

				#search_bar > input[type = "search"]
				{
					flex: 1;

					padding-right: calc(1rem + var(--border-radius));
				}

				#search_bar > button
				{
					padding: 0px;
					margin-left: calc(0px - var(--border-radius));

					border-radius: var(--border-radius);
				}

				#search_bar > button > img{ display: initial; }

				#search_bar > button > span{ display: none; }
			/* === end: search_bar =============================================================================================================== */

			/* === filter ======================================================================================================================== */
				#filter
				{
					flex-direction: column;
					align-items: flex-start;
				}

				#filter > p{ padding-top: 0px; }

				#filter-list > li{ margin: 0px 10px 10px 0px; }
			/* === end: filter =================================================================================================================== */
		/* === end: search ======================================================================================================================= */

		/* === accommodation ===================================================================================================================== */
			#accommodation
			{
				padding: 0px 0px 60px 0px;

				flex-direction: column-reverse;
				justify-content: flex-start;
			}

			/* === searched accommodation ======================================================================================================== */
				#accommodation-search
				{
					width: 100%;

					padding: 50px 20px 0px 20px;
					margin-right: 0px;

					background-color: #00000000;
				}

				#accommodation-search-card_area{ row-gap: 15px; }

				#accommodation-search-card-1{ background-image: url("../../data/picture/accommodation/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg"); }

				#accommodation-search-card-2{ background-image: url("../../data/picture/accommodation/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg"); }

				#accommodation-search-card-3{ background-image: url("../../data/picture/accommodation/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg"); }

				#accommodation-search-card-4{ background-image: url("../../data/picture/accommodation/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg"); }

				#accommodation-search-card-5{ background-image: url("../../data/picture/accommodation/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg"); }

				#accommodation-search-card-6{ background-image: url("../../data/picture/accommodation/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg"); }

				.accommodation-search-card{ width: 100%; }
			/* === end: searched accommodation =================================================================================================== */

			/* === popular accommodation ========================================================================================================= */
				#accommodation-popular
				{
					width: 100%;

					padding-right: 20px;
					padding-left: 20px;

					border-radius: 0px;
				}

				#accommodation-popular-card-1{ background-image: url("../../data/picture/accommodation/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg"); }

				#accommodation-popular-card-2{ background-image: url("../../data/picture/accommodation/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg"); }

				#accommodation-popular-card-3{ background-image: url("../../data/picture/accommodation/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg"); }
			/* === end: popular accommodation ==================================================================================================== */
		/* === end: accommodation ================================================================================================================ */

		/* === activity ========================================================================================================================== */
			#activity{ padding: 0px 20px 50px 20px; }

			#activity-card_area{ flex-direction: column; }

			#activity-card_area > div
			{
				width: 100%;

				flex-direction: column;
			}

			#activity-card_area > div > div{ width: 100%; }

			.activity-card{ padding-top: 40% !important; }

			#activity-card-1, #activity-card-2, #activity-card-4, #activity-card-5 { margin-bottom: 20px; }

			#activity-card-1{ background-image: url("../../data/picture/activity/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg"); }

			#activity-card-2{ background-image: url("../../data/picture/activity/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg"); }

			#activity-card-3{ background-image: url("../../data/picture/activity/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg"); }

			#activity-card-4{ background-image: url("../../data/picture/activity/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg"); }

			#activity-card-5{ background-image: url("../../data/picture/activity/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg"); }

			#activity-card-6{ background-image: url("../../data/picture/activity/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg"); }
		/* === end: activity ===================================================================================================================== */
	}
/* === end: media ================================================================================================================================ */