/* #0065FC; blue */
/* #DEEBFF; light bue */
/* #F2F2F2; gray */

/* === @font-face ================================================================================================================================ */
	@font-face
	{
		font-family: 'raleway';
		src: url('../../data/font/raleway/raleway.ttf') format('truetype');
	}
/* === end: @font-face =========================================================================================================================== */

/* === general marker ============================================================================================================================ */
	*
	{
		box-sizing: border-box;

		padding: 0px;
		margin: 0px;

		font-family: raleway, serif;
		color: rgb(0, 0, 0);
	}

	html
	{
		width: max(100%, 300px);

		background-color: rgb(255, 255, 255);

		font-size: 1em;
	}

	h1, h2
	{
		font-weight: bold;
		font-size: 1.25rem;
	}
/* === end: general marker ======================================================================================================================= */

/* === media ====================================================================================================================================== */
	@media screen and (min-width: 2330px)
	{
		html{ padding: 0px calc((100% - 2330px) / 2); }
	}
/* === end: media ================================================================================================================================= */